/* Write your code here. */
.score-card {
  height: 60vh;
  width: 60%;
  background-color: #ffffff63;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-status {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}

.score-label {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.score {
  font-size: 35px;
  font-weight: 600;
  color: #6a59ff;
}

.play-again-btn {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  padding: 8px;
  font-size: 16px;
  color: #fff;
  background-color: #ffce27;
  border: none;
  outline: none;
}

.image-container {
  height: 50vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 100%;
}
