/* Write your code here. */
.navbar-section {
  background-color: #ffffff33;
  background-size: cover;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 35px 80px;
}

.logo-and-name {
  display: flex;
  align-items: center;
}

.game-name {
  color: #fff;
  font-family: Roboto;
  font-weight: 600;
  font-size: 30px;
}

.score-and-topscore-section {
  display: flex;
  align-items: center;
}

.emoji-score-topscore {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  margin-left: 30px;
}
